{% extends 'base.html' %}
{% load staticfiles %}


    {% block title %} signle user{% endblock %}
        {% load staticfiles %}
        {% block css %}
                    <link rel="stylesheet" href="{% static 'css/singleuser.css' %}">
        {% endblock %}

        {% block body %}


    <!--

                    <div class="text-center">
                        {% if usersingle.user_photo %}
                                 <img src="{{usersingle.user_photo.url}}" class="rounded" alt="...">
                        {% else %}
                                <img src = "{% static 'media/user_photo/default.png' %}" >
                        {% endif %}
                    </div>
                    <div class="p-3 mb-2 bg-dark text-white">  <h2>{{usersingle.user_first_name }} {{usersingle.user_last_name}}</h2></div>
                    <div class="p-3 mb-2 bg-secondary text-white"><p> User Id   :   {{usersingle.user_id}}</p></div>



                            {% if usersingle.activity_status ==  True  %}
                <div class="p-3 mb-2 bg-success text-white">You are an Active user </div>

                      <table class="table table-striped table-dark">
                          <thead>
                                <tr>
                                  <th scope="col">Your Advantages </th>

                                </tr>
                              </thead>

                {% for b in usersingle.what_benifits %}
                                <tr>
                                    <td>
                                        {{ b }}

                                    </td>
                                </tr>

                {% endfor %}

                            </table>

           {% elif usersingle.activity_status == False %}
                <div class="p-3 mb-2 bg-danger text-white">You are not an Active user.No Advantages will be applied </div>
            {% endif %}

            mx-auto d-block user_photo

                         -->


                        		<div class="container">
			<div class="alert alert-dark id_idbox" role="alert">
			  <p class="id_p"> ID  : {{usersingle.user_id}} </p>
			</div>
			<div class="">

                {% if usersingle.activity_status == True %}

                                    {% if usersingle.user_photo %}
                                             <img src="{{usersingle.user_photo.url}}" class="mx-auto d-block user_photo user_photo_green" alt="...">
                                    {% else %}
                                            <img src = "{% static 'media/user_photo/default.png' %}" class="mx-auto d-block user_photo user_photo_green" >
                                    {% endif %}
                {% elif usersingle.activity_status == False  %}

                                    {% if usersingle.user_photo %}
                                             <img src="{{usersingle.user_photo.url}}" class="mx-auto d-block user_photo user_photo_red" alt="...">
                                    {% else %}
                                            <img src = "{% static 'media/user_photo/default.png' %}" class="mx-auto d-block user_photo user_photo_red" >
                                    {% endif %}
                {% endif %}



            </div>
			<hr class="id_hr">
			<div class="first_div">
						<table class="table">

						  <tbody>
							  <thead>
								<tr>
								  <th scope="col">{{usersingle.user_first_name }} {{usersingle.user_last_name}}</th>

								</tr>
							  </thead>
							<tr>

							  <td>{{ usersingle.user_address }} </td>

							</tr>
							<tr>

							  <td colspan="2">{{ usersingle.user_phone_num  }}</td>

							</tr>
						  </tbody>
						</table>
			</div>

                                    {% if usersingle.activity_status ==  True  %}
                                    <div class="alert user_active_green " role="alert">
                                     <p> You are an active user.Thank You.</p>
                                    </div>
                                    {% elif usersingle.activity_status == False %}
                                    <div class="alert alert-warning user_active_red " role="alert">
                                     <p> You are not an active user.No Advantages will be applied</p>
                                    </div>
                                    {% endif %}
		</div>


                    {% if usersingle.activity_status ==  True  %}
                        <div class ="2nd_div">

                                        <table class="table">
                                          <thead>
                                            <tr>
                                              <th scope="col"><h3>Advantages</h3></th>

                                            </tr>
                                          </thead>
                                          <tbody>

                                          {% for b in usersingle.what_benifits %}
                                            <tr>

                                              <td> {{b}} </td>

                                            </tr>
                                            {% endfor %}
                                          </tbody>
                                        </table>

                        </div>

                    {% elif usersingle.activity_status == False %}

                    <a href="">learn why you will be an inactive user </a>

                    {% endif %}

                    <button type="button" class="btn btn-secondary btn-lg btn-block">Print your Status</button>
    {% endblock %}